
* {
    margin: 1%;
}

h3 {
    width: 200px;
    text-align: center;
    border: 2px solid blue;
    color: blue;
    border-radius: 20px;
    font-size: x-large;
}

#plus {
    background-color: cyan;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    font-size: 250%;
}

#account {
    background-color: blueviolet;
    font-size: 200%;
    padding: 1%;
    color: white;
    text-align: center;
    width: 25%;
    
}